* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(to top, #0E46A3, #9AC8CD);
}


#cronometro {
    background-color: #1E0342;
    padding: 2rem;
    border-radius: 5px;
}


#timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    background-color: #1E0342;
    height: 250px;
    width: 250px;
    border: 3px solid #E1F7F5;
    color: #FAFAFA;

    border-radius: 100%;
    font-weight: 750;
    font-size: 33px;
}


.actions {
    display: flex;
    justify-content: space-between;
}

.actions button {
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.actions button:hover{
    background-color: #7c57ad;
    transition: .1s;
}

.actions button:active{
    background-color: #a27bd4;
}

.actions > #clean {
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
}

.actions > #clean:hover {
    background-color: rgb(214, 21, 21);
}

#marks-list {
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#marks-list p:first-child {
    margin-top: 20px;
}